---
import Item from '~/components/blog/SeriesItem.astro';
import type { Series } from '~/types';

export interface Props {
  series: Array<Series>;
}

const { series } = Astro.props;
---

<ul>
  {
    series.map((series) => (
      <li class="mb-12 md:mb-20">
        <Item series={series} />
      </li>
    ))
  }
</ul>
