---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <Hero id="hero" title="Matthew Watt" tagline="About" />

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    image={{
      src: 'https://twopointwebsite.blob.core.windows.net/about/me.jpg',
      alt: 'A photo of the website author',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>I'm a full-stack software engineer.</p>
      <br />
      <p>
        My passion for software development started with mobile app development, specifically Swift, Objective-C, and
        Apple platforms. I've since broadened my skillset to include frontend web technologies such as React and
        TypeScript, as well as backend technologies like C#, F#, Haskell, Rust, ASP.NET Core, SQL, and others.
      </p>
      <br />
      <p>Learning, applying, and teaching functional programming has become a passion of mine.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Get in touch"
    subtitle="Feel free to reach out on X, GitHub, or email me"
    actions={[
      {
        variant: 'primary',
        text: 'Email me',
        href: 'mailto:matt@twopoint.dev',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts id="blog" title="Explore my writing">
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
