---
import { APP_BLOG } from 'astrowind:config';

import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';
import SeriesList from '~/components/blog/Series.astro';

import { blogSeriesRobots } from '~/utils/blog';
import { findSeries } from '~/utils/blog';

export const prerender = true;

const series = APP_BLOG?.series?.isEnabled ? await findSeries() : [];

const metadata = {
  title: 'Series',
  robots: {
    index: blogSeriesRobots?.index,
    follow: blogSeriesRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 sm:pt-20 pt-12 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-4xl">
    <Headline title="Series" subtitle="Follow along with series of posts about specific topics" />
    <SeriesList series={series} />
  </section>
</Layout>
