---
import { Icon } from 'astro-icon/components';
import { getBlogPermalink, getPermalink } from '~/utils/permalinks';
import Button from '~/components/ui/Button.astro';
import type { Post } from '~/types';
import { findPostsBySlugs } from '~/utils/blog';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const toLookup = [post.series?.previous, post.series?.next].filter((slug) => slug !== undefined);
const previousAndNext = await findPostsBySlugs(toLookup);
const previous = previousAndNext.find((e) => e.slug === post.series?.previous);
const next = previousAndNext.find((e) => e.slug === post.series?.next);
---

{
  (
    <div class="flex flex-row justify-between mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-4 pb-12 md:pb-20">
      <Button
        variant="tertiary"
        class="px-3 md:px-3 max-w-32 sm:max-w-full"
        href={previous?.slug && previous.title ? getPermalink(previous.permalink, 'post') : getBlogPermalink()}
      >
        <Icon name="tabler:chevron-left" class="w-5 h-5 mr-1" />
        {previous?.title ?? 'All posts'}
      </Button>
      {next ? (
        <Button
          variant="tertiary"
          class="px-3 md:px-3 max-w-32 sm:max-w-full"
          href={next?.slug && next.title ? getPermalink(next.permalink, 'post') : getBlogPermalink()}
        >
          {next?.title ?? 'All posts'} <Icon name="tabler:chevron-right" class="w-5 h-5 ml-1" />
        </Button>
      ) : (
        previous && (
          <Button variant="tertiary" class="px-3 md:px-3 max-w-32 sm:max-w-full" href={getBlogPermalink()}>
            {'All posts'} <Icon name="tabler:chevron-right" class="w-5 h-5 ml-1" />
          </Button>
        )
      )}
    </div>
  )
}
